<div class="scroll-nav">
  <div  class="scroll-nav-block">
    <div [ngStyle]="{'transform' : default_length}" class="block-bg"></div>
  </div>
  <div class="scroll-nav-block">
    <div [ngStyle]="{'transform' : default_length}"  class="block-bg"></div>
  </div>
  <div class="scroll-nav-block">
    <div [ngStyle]="{'transform' : default_length}"  class="block-bg"></div>
  </div>
  <div class="scroll-nav-block">
    <div [ngStyle]="{'transform' : default_length}"  class="block-bg"></div>
  </div>
  <span>SCROLLDOWN___________</span>
</div>

<button (click)="changeLength()" [style.z-index]="'99'">scroll</button>