<div class="scroll-nav">
  <div class="scroll-nav-box">
    <div class="scroll-nav-bar">
      <div [ngStyle]="{'transform' : layer.default_length}" class="bar-bg"></div>
    </div>
    <div class="scroll-nav-bar">
      <div [ngStyle]="{'transform' : layer.default_length1}" class="bar-bg"></div>
    </div>
    <div class="scroll-nav-bar">
      <div [ngStyle]="{'transform' : layer.default_length2}" class="bar-bg"></div>
    </div>
    <div class="scroll-nav-bar">
      <div [ngStyle]="{'transform' : layer.default_length3}" class="bar-bg"></div>
    </div>
  </div>
  <div [ngStyle]="{'transform' : layer.runout}" [class.darkLinks]="darkMode" class="scroll-nav-scripture">
    <span>ScrollDown</span>
    <div class="scroll-vertical-line" [ngStyle]="{}"></div>
  </div>
</div>
<div class="mobile-hint">
  <span></span>
  <span></span>
  <span></span>
</div>