.scroll-nav {
  width          : 18rem;
  height         : 14rem;
  position       : fixed;
  right          : -116px;
  bottom         : 100px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-direction : column;


  span {
    margin-top: 104px;
    transform : rotate(90deg);
  }
}

.scroll-nav-block {
  width       : 80px;
  height      : 4px;
  margin-right: 64px;

}

.block-bg {
  width           : 100%;
  height          : 100%;
  background-color: var(--accentcolor);
  transition      : transform .4s ease-in-out;
}