
.cursor {
  position: fixed;
  z-index: 10;
  width: 50px;
  height: 50px;
  border: 2px solid var(--accentcolor);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all .4s ease-in-out;

  @media only screen and (max-width: 770px) {
    display: none;
  }
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: var(--dividertext);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all .6s ease-in-out;
  @media only screen and (max-width: 770px) {
    display: none;
  }
}


.hover_state:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: var(--accentcolor);
  opacity: 0.5;
}

.hover_state:hover ~ .cursor2 {
  opacity: 0;
}