<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
  <div class="wrapper">
    <div class="scroll-container">
      <div class="scroll-content">
        <div class="wrapper_inner">
          <hr class="spacer100">
          <section>
            <article>
              <h1 class="project-headline-wrapper">
                <span class="project-headline-content">
                  <span>Cases &</span>
                  <span class="outlined">projects</span>
                </span>
              </h1>
              <p class="project-description-wrapper">
                <span class="project-description-content">
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum similique laudantium
                    corrupti ipsa. Libero, animi reiciendis ipsum aut culpa, sunt placeat necessitatibus consectetur
                    velit eius veritatis repellat nostrum voluptates?</span>
                </span>
              </p>
            </article>
          </section>
          <section class="projects-wrap">
            <a href="">
              <div class="project-text-content">
                <span class="project-number"></span>
                <h3 class="project-title"></h3>
              </div>
              <div class="project-img-wrap">
                <img src="" alt="" class="project-circle">
                <figure class="img-wrap">
                  <picture>
                    <img src="" alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="" alt="">
              </div>
            </a>
            <a href="">
              <div class="project-text-content">
                <span class="project-number"></span>
                <h3 class="project-title"></h3>
              </div>
              <div class="project-img-wrap">
                <img src="" alt="" class="project-circle">
                <figure class="img-wrap">
                  <picture>
                    <img src="" alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="" alt="">
              </div>
            </a>
            <a href="">
              <div class="project-text-content">
                <span class="project-number"></span>
                <h3 class="project-title"></h3>
              </div>
              <div class="project-img-wrap">
                <img src="" alt="" class="project-circle">
                <figure class="img-wrap">
                  <picture>
                    <img src="" alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="" alt="">
              </div>
            </a>
            <a href="">
              <div class="project-text-content">
                <span class="project-number"></span>
                <h3 class="project-title"></h3>
              </div>
              <div class="project-img-wrap">
                <img src="" alt="" class="project-circle">
                <figure class="img-wrap">
                  <picture>
                    <img src="" alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="" alt="">
              </div>
            </a>
          </section>

        </div>
      </div>

    </div>
  </div>
</div>