<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
  <div class="wrapper">
    <div class="scroll-container">
      <div class="scroll-content">
        <div class="wrapper_inner">
          <hr class="spacer100">
          <section @fadeIn class="project-header">
            <article>
              <h1 class="project-headline-wrapper">
                <span class="project-headline-content">
                  <span>cases &</span>
                  <span class="outlined"> projects</span>
                </span>
              </h1>
              <p class="project-description-wrapper">
                <span class="project-description-content">
                  <span>Listed here are the projects completed so far from
                    simple to more complex. It is my personal development path through different areas of applications.</span>
                </span>
              </p>
            </article>
          </section>
          <section class="projects-wrap">
            <a class="project-preview" target="_blank" href="http://f013581c@thomas-tritscher.developerakademie.com/QuizTime/index.html">
              <div class="project-text-content">
                <span class="project-number">01</span>
                <h3 class="project-title">First HTML & CSS Quiz</h3>
              </div>
              <div class="project-img-wrap">
                <figure @fadeIn class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/quiz-640.jpg" alt="Cover from Quiz Time Project">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png">
              </div>
            </a>
            <a class="project-preview" target="_blank"  href="http://f013581c@thomas-tritscher.developerakademie.com/El%20pollo%20loco/index.html">
              <div class="project-text-content">
                <span class="project-number">02</span>
                <h3 class="project-title">Javascript Game</h3>
              </div>
              <div class="project-img-wrap">
                <figure @fadeIn class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/el_pollo_loco_big.png" alt="Cover from El pollo Loco Project">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png">
              </div>
            </a>
            <a class="project-preview" target="_blank"  href="http://f013581c@thomas-tritscher.developerakademie.com/JOIN/sites/login.html">
              <div class="project-text-content">
                <span class="project-number">03</span>
                <h3 [style.color]="'black'" class="project-title">Management System</h3>
              </div>
              <div class="project-img-wrap">
                <figure @fadeIn class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/join_login.png" alt="Cover from Join Project">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png">
              </div>
            </a>
            <a class="project-preview" target="_blank"  href="http://f013581c@thomas-tritscher.developerakademie.com/ringoffire/index.html">
              <div class="project-text-content">
                <span class="project-number">04</span>
                <h3 class="project-title">Angular card game</h3>
              </div>
              <div class="project-img-wrap">
                <figure @fadeIn class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/fire-ring-2091656_640.png" alt="Cover from Ring of Fire Project">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png">
              </div>
            </a>
            <a class="project-preview" href="" target="_blank">
              <div class="project-text-content">
                <span class="project-number">05</span>
                <h3 [style.color]="'black'" class="project-title">Personal Website</h3>
              </div>
              <div class="project-img-wrap">
                <figure @fadeIn class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/homepage_front.png"
                    alt="Cover from Personal Website Project">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png">
              </div>
            </a>
            <a class="project-preview" href="https://www.europa-foerdert-kultur.eu/" target="_blank">
              <div class="project-text-content">
                <span class="project-number">06</span>
                <h3 [style.color]="'black'" class="project-title">Wordpress Project</h3>
              </div>
              <div class="project-img-wrap">
                <figure @fadeIn class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/Europa-fördert-Kultur.png"  alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png">
              </div>
            </a>
            <a class="project-preview"  href="http://f013581c@thomas-tritscher.developerakademie.com/StarWars/index.html">
              <div class="project-text-content">
                <span class="project-number">07</span>
                <h3 class="project-title">Star Wars API</h3>
              </div>
              <div class="project-img-wrap">
                <figure @fadeIn class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/Star Wars screenshot.png" alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png">
              </div>
            </a>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div @fadeInOut class="transition-bg"></div>
  <app-cursor></app-cursor>
</div>
