<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
  <div class="wrapper">
    <div class="scroll-container"  [ngStyle]="{'overflow' : 'hidden', 'outline' : 'none'}">
      <div class="scroll-content" [ngStyle]="{'transform' : translate}">
        <div class="wrapper_inner">
          <hr class="spacer100">
          <section class="fadeIn project-header light show">
            <article>
              <h1 class="project-headline-wrapper">
                <span class="project-headline-content">
                  <span>Cases&</span>
                  <span class="outlined">projects</span>
                </span>
              </h1>
              <p class="project-description-wrapper">
                <span class="project-description-content">
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum similique laudantium
                    corrupti ipsa. Libero, animi reiciendis ipsum aut culpa, sunt placeat necessitatibus consectetur
                    velit eius veritatis repellat nostrum voluptates?</span>
                </span>
              </p>
            </article>
          </section>
          <section class="projects-wrap">
            <a class="project-preview" href="">
              <div class="project-text-content">
                <span class="project-number">01</span>
                <h3 class="project-title">First HTML & CSS Quiz</h3>
              </div>
              <div class="project-img-wrap">
                <figure class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/quiz-640.jpg" alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png" alt="">
              </div>
            </a>
            <a class="project-preview" href="">
              <div class="project-text-content">
                <span class="project-number">02</span>
                <h3 class="project-title">Jump `n Run Javascript Game</h3>
              </div>
              <div class="project-img-wrap">
                <figure class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/el_pollo_loco_big.png" alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png" alt="">
              </div>
            </a>
            <a class="project-preview" href="">
              <div class="project-text-content">
                <span class="project-number">03</span>
                <h3 class="project-title">Angular card game</h3>
              </div>
              <div class="project-img-wrap">
                <figure class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/fire-ring-2091656_640.png" alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png" alt="">
              </div>
            </a>
            <a class="project-preview" href="">
              <div class="project-text-content">
                <span class="project-number">04</span>
                <h3 class="project-title">Task Management App</h3>
              </div>
              <div class="project-img-wrap">

                <figure class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/coming_soon.jpg" alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png" alt="">
              </div>
            </a>
            <a class="project-preview" href="">
              <div class="project-text-content">
                <span class="project-number">05</span>
                <h3 class="project-title">coming soon</h3>
              </div>
              <div class="project-img-wrap">

                <figure class="img-wrap">
                  <picture>
                    <img class="img-wrap-item" src="/assets/img/coming_soon.jpg" alt="">
                  </picture>
                  <span class="hide-bg"></span>
                </figure>
              </div>
              <div class="project-cta">
                <img src="/assets/icons/arrow-right-bloodorange.png" alt="">
              </div>
            </a>
          </section>
        </div>
      </div>
      <app-scroll-bar></app-scroll-bar>
    </div>
  </div>
</div>