<a href="">
  <img class="h-logo" src="/assets/icons/Logo-gold.png" alt="">
</a>
<span [ngStyle]="{'color': spanColor, 'zIndex' : z_inactive}" class="h-span">Front End Developer</span>
<nav [class.darkLinks]="darkMode" class="sm">
  <ul>
    <li>
      <a target="_blank" href="">Facebook</a>
    </li>
    <li>
      <a target="_blank" href="">Twitter</a>        
    </li>
    <li>
      <a target="_blank" href="">Github</a>        
    </li>
  </ul>
</nav>
<menu *ngIf="!darkMode" (click)="overlayMenu()">
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : accentColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
</menu>
<menu *ngIf="darkMode" (click)="closeMenu()">
  <span [ngStyle]="{'background' : accentColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : accentColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : accentColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : accentColor}" class="dot"></span>
  <span [ngStyle]="{'background' : defaultColor}" class="dot"></span>
  <span [ngStyle]="{'background' : accentColor}" class="dot"></span>
</menu>
<div id="m-m-overlay" class="main-menu">
  <ul>
    <li [ngStyle]= "{'animation' : 'fade-from-left 1s cubic-bezier(0.72, -0.01, 0.45, 0.94) 0s 1 normal none'}">
      <span>01</span>
      <a href="">projects</a>
    </li>
    <li>
      <span>02</span>
      <a href="">my journey</a>
    </li>
    <li>
      <span>03</span>
      <a href="">person</a>
    </li>
    <li>
      <span>04</span>
      <a href="">say hello!</a>
    </li>
  </ul>
</div>

<div [ngStyle]="{'opacity' : o_inactiv}" class="legals">
  <ul>
    <li>
      <a href="">imprint</a>
    </li>
    <li>
      <a href="">data protection</a>
    </li>
  </ul>
</div>