<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
</div>
<div>
  <div class="theme-background">
    <app-scrollhint></app-scrollhint>
  </div>
  <section class="h h-theme-dark" [ngStyle]="{'zIndex' : z_active}">
    <h1 class="h-h1">
      <span class="h-h1_transition-wrapper pre-h-h1_transition">
        <span class="h-h1_transition-e pre-h-h1_transition-e" [ngStyle]="{'transform' : firstText}">
          lets
        </span>
      </span>
      <span class="h-h1_transition-wrapper ">
        <span class="h-h1_transition-e" [ngStyle]="{'transform' : firstText}">create</span>
      </span>
      <span class="h-h1_transition-wrapper ">
        <span class="h-h1_transition-e" [ngStyle]="{'transform' : firstText}">something!</span>
      </span>
    </h1>
  </section>
  <section class="h h-social-media  h-theme-dark " [ngStyle]="{'zIndex' : z_inactive}">
    <div class="content-wrapper">
      <div class="p-wrap">
        <div class="content-a" [ngStyle]="{'transform' : secondText}">
          <p>You can find me on</p>
        </div>
      </div>
      <div class="p-wrap hover_state">
        <div class="content-a" [ngStyle]="{'transform' : secondText}">
          <p>
            <a target="_blank" href="https://twitter.com/ThomasTritscher">Twitter</a>
          </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a" [ngStyle]="{'transform' : secondText}">
          <p>
            <a target="_blank" href="https://github.com/ThomasTritscher" >Github</a>     
          </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a" [ngStyle]="{'transform' : secondText}">
          <p>
            <a target="_blank" href="https://www.linkedin.com/in/thomas-tritscher-40ab14213/">Linkedin</a>     
          </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a" [ngStyle]="{'transform' : secondText}">
          <p>
            <a target="_blank" href="https://www.codepen.io/thomastritscher">CodePen</a> 
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="h h-theme-dark" [ngStyle]="{'zIndex' : z_inactive2}">
    <div class="content-wrapper">
      <div class="p-wrap">
        <div class="content-p" [ngStyle]="{'transform' : thirdText}">
          <p>Or we just have a </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-p" [ngStyle]="{'transform' : thirdText}">
          <p>cup of coffee together</p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-p" [ngStyle]="{'transform' : thirdText}">
          <p>and talk about</p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-p" [ngStyle]="{'transform' : thirdText}">
          <p>
            <span>
              <a href="">
                <b>your project</b>
              </a>
            </span>
          </p>
        </div>
      </div>
      <picture class="content-img-wrapper">
        <img src="/assets/img/desktop_coffee.jpg" alt="Workspace with coffee cup" [ngStyle]="{'transform' : defaultImgPosition}">
      </picture>
    </div>
  </section>
  <section class="h h-theme-dark" [ngStyle]="{'zIndex' : z_inactive3}">
    <div class="content-wrapper content-wrapper_textme">
      <div class="form-wrap">
        <div class="content-form">
          <span class="p-wrap">
            <label class="content-t" for="textme" [ngStyle]="{'transform' : fourthText}">
              Feel free to drop
              <span>
                <a href="">
                  <b>a line!</b>
                </a>
              </span>
            </label>
          </span>
        </div>
      </div>
    </div>
  </section>
  <div #cursor class="cursor"></div>
  <div #cursor2 class="cursor2"></div>
</div>