.theme-background {
  position  : fixed;
  top       : 0;
  left      : 0;
  height    : 100vh;
  width     : 100vw;
  z-index   : 0;
  background: #272626;
}

.h-theme-dark {
  display        : grid;
  align-content  : center;
  justify-content: center;
  color          : #d0d0d0;
}

.h-h1 {
  font-size        : 6vw;
  font-weight      : 500;
  text-transform   : lowercase;
  letter-spacing   : -.5vw;
  // margin        : 12% 0 0 12%;
  margin           : -80px 0 0;
}

.h-h1_transition-wrapper {
  display : block;
  overflow: hidden;
  position: relative;
}

.pre-h-h1_transition {
  font-size     : 1.6vw;
  margin-bottom : -.1%;
  margin-left   : .6%;
  display       : block;
  letter-spacing: -.08vw;
  color         : #9e9e9e;
}

.h-h1_transition-e {
  display   : block;
  transition: all 1s ease;
}


.pre-h-h1_transition-e {
  @media only screen and (max-width: 770px) {
    font-size: 4.6vw;
  }
}

.h-social-media {
  z-index       : 9;
  pointer-events: all;
}

.content-wrapper {
  margin: 0;
  width : auto;

  .content-wrapper_textme {
    margin: 14.8vh auto 0 12vw;
    width : 60vw;
  }
}

.p-wrap {
  overflow: hidden;
  display : block;
  padding : 5px 0;
}

.content-a {
  display   : block;
  transition: all 1s ease;
  transform : translate3d(0, -145%, 0);

  p {
    margin     : 0;
    font-size  : 1.3vw;
    font-weight: 300;

    @media only screen and (max-width: 770px) {
      font-size: 2.6vw;
    }
  }

  a {
    font-size      : 5vw;
    font-weight    : 500;
    letter-spacing : -.2vw;
    color          : var(--accentcolor);
    text-decoration: none;
  }
}

.content-p {
  display   : block;
  transition: all 1s ease;
  transform : translate3d(0, -145%, 0);

  p {
    font-size     : 5vw;
    font-weight   : 500;
    letter-spacing: -.3vw;
    padding       : 0 0 0 10vw;
    margin        : 0;
  }

  a {
    text-decoration: none;
    color          : var(--accentcolor);
  }

  b {
    font-weight: 500;
  }
}



.content-t {
  display   : block;
  transition: all 1s ease;
  font-size : 6vw;

  a {
    text-decoration: none;
    color          : var(--accentcolor);
  }

  b {
    font-weight: 500;
  }
}

.content-img-wrapper {
  overflow  : hidden;
  display   : block;
  min-height: 30vh;
  position  : absolute;
  left      : 140px;
  top       : 20%;
  z-index   : -1;
  opacity   : .6;

  img {
    width     : 30vw;
    height    : 50vh;
    object-fit: cover;
    transition: transform 1.5s cubic-bezier(.93, -.08, .43, .99);

    @media only screen and (max-width: 770px) {
      width : 30vw;
      height: 30vh;
    }
  }

  @media only screen and (max-width: 770px) {
    left: 10%;
    top : 34%;
  }
}


// follow on Mousemove
.cursor {
  position      : fixed;
  z-index       : 10;
  width         : 50px;
  height        : 50px;
  border        : 2px solid var(--accentcolor);
  border-radius : 50%;
  left          : 62px;
  top           : 50px;
  pointer-events: none;
  transform     : translate(-50%, -50%);
  transition    : all .4s ease-in-out;

  @media only screen and (max-width: 770px) {
    display: none;
  }
}

.cursor2 {
  position        : fixed;
  z-index         : 10;
  width           : 8px;
  height          : 8px;
  background-color: var(--dividertext);
  border-radius   : 50%;
  left            : 62px;
  top             : 50px;
  pointer-events  : none;
  transform       : translate(-50%, -50%);
  transition      : all .6s ease-in-out;

  @media only screen and (max-width: 770px) {
    display: none;
  }
}


.hover_state:hover~.cursor {
  transform       : translate(-50%, -50%) scale(2.5);
  background-color: var(--accentcolor);
  opacity         : 0.8;
  z-index         : 6;

}

.hover_state:hover~.cursor2 {
  opacity: 0;
}