<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
</div>
<div>
  <div class="theme-background">
    <app-scrollhint></app-scrollhint>
  </div>
  <section class="h h-theme-dark">
    <h1 class="h-h1">
      <span class="h-h1_transition-wrapper pre-h-h1_transition">
        <span class="h-h1_transition-e pre-h-h1_transition-e">
          lets
        </span>
      </span>
      <span class="h-h1_transition-wrapper ">
        <span class="h-h1_transition-e">create</span>
      </span>
      <span class="h-h1_transition-wrapper ">
        <span class="h-h1_transition-e">something!</span>
      </span>
    </h1></section>
  <section class="h h-social-media  h-theme-dark">
    <div class="content-wrapper">
      <div class="p-wrap">
        <div class="content-a">
          <p>You can find me on</p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a">
          <p>
            <a href="">Twitter</a>
          </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a">
          <p>
            <a href="">Twitter</a>
          </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a">
          <p>
            <a href="">Twitter</a>
          </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a">
          <p>
            <a href="">Twitter</a>
          </p>
        </div>
      </div>
    </div> 
  </section>
  <section class="h h-theme-dark">lets have a tea</section>
  <section class="h h-theme-dark">feel free to drop a line</section>
</div>