<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
</div>
<div>
  <div class="theme-background">
    <app-scrollhint></app-scrollhint>
  </div>
  <section class="h h-theme-dark">
    <h1 class="h-h1">
      <span class="h-h1_transition-wrapper pre-h-h1_transition">
        <span class="h-h1_transition-e pre-h-h1_transition-e">
          lets
        </span>
      </span>
      <span class="h-h1_transition-wrapper ">
        <span class="h-h1_transition-e">create</span>
      </span>
      <span class="h-h1_transition-wrapper ">
        <span class="h-h1_transition-e">something!</span>
      </span>
    </h1>
  </section>
  <section class="h h-social-media  h-theme-dark">
    <div class="content-wrapper">
      <div class="p-wrap">
        <div class="content-a">
          <p>You can find me on</p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a">
          <p>
            <a href="">Twitter</a>
          </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a">
          <p>
            <a href="">Twitter</a>
          </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a">
          <p>
            <a href="">Twitter</a>
          </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-a">
          <p>
            <a href="">Twitter</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="h h-theme-dark">
    <div class="content-wrapper">
      <div class="p-wrap">
        <div class="content-p">
          <p>Or we just have a </p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-p">
          <p>cup ot tea together</p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-p">
          <p>and talk about</p>
        </div>
      </div>
      <div class="p-wrap">
        <div class="content-p">
          <p>
            <span>
              <a href="">
                <b>your project</b>
              </a>
            </span>
          </p>
        </div>
      </div>
      <picture class="content-img-wrapper">
        <img src="/assets/img/cup-tea2.jpg" alt="">
      </picture>
    </div>
  </section>
  <section class="h h-theme-dark">
    <div class="content-wrapper content-wrapper_textme">
      <div class="form-wrap">
        <div class="content-form">
          <span class="p-wrap">
            <label class="content-t" for="textme">
              Feel free to drop
              <span>
                <a href="">
                  <b>a line!</b>
                </a>
              </span>
            </label>
          </span>
        </div>
      </div>
    </div>
    a line
  </section>
</div>