menu {
  width    : 32px;
  position : fixed;
  right    : 0;
  top      : 0;
  z-index  : 10000;
  cursor   : pointer;
  display  : flex;
  flex-wrap: wrap;
  padding  : 30px;
}

.dot {
  height       : 5px;
  width        : 5px;
  background   : #585858;
  border-radius: 100%;
  display      : block;
  margin       : 2.4px;
  transition   : all .3s ease-in-out;
}

.main-menu {
  position        : fixed;
  height          : 100%;
  width           : 100%;
  top             : 0;
  right           : 0;
  background-color: var(--primarytext);
  z-index         : 11;
  display         : grid;
  opacity         : 0;
  transition      : opacity 1s ease-in-out;
  pointer-events  : none;


  ul {
    list-style  : none;
    justify-self: center;
    align-self  : center;
    margin      : 0;
    padding     : 0;
  }

  a {
    color          : white;
    text-decoration: none;
    font-size      : 4vw;
    font-weight    : 500;
    letter-spacing : -.2vw;

  }

  span {
    font-size   : 1rem;
    color       : var(--accentcolor);
    margin-right: 8px;
    font-weight : 500;
    transition  : transform 8s ease-in-out;

  }
}

.active {
  opacity: 1;
}