<header>
  <div>
    <img src="../assets/icons/Logo-gold-orange.png" alt="">
  </div>
  <menu>
    <a href="">
      <span class="sign">&lt;</span>
      <span>M</span>
      <span>E</span>
      <span>N</span>
      <span>U</span>
    </a>


    <!-- <span>H</span>
        <span>O</span>
        <span>M</span>
        <span>E</span>
       &gt; -->
  </menu>
</header>
<!-- <img *ngIf="!darkMode" routerLink="/" src="../assets/icons/Logo-red-white.png" alt=""> -->
<!-- <img *ngIf="darkMode" routerLink="/" src="../assets/icons/Logo-black-red.png" alt=""> -->


<!-- <div [class.darkLinks]="darkMode">
    <a routerLink="/">Home</a>
    <a routerLink="/data-protection">Data protection</a>
    <a href="">Curriculum</a>
    <a href="">Projects</a>
    <a routerLink="/imprint">Imprint</a>
  </div> -->