<menu (click)="overlayMenu()">
  <h3><span>&lt;</span>MENU</h3>
</menu>
<div id="m-m-overlay" class="main-menu">
<ul>
  <li>
    <div [ngStyle]="{'transform' : rotate_default}"><span><</span>
    </div>
    <a href="">projects</a>
  </li>
  <li>
    <span [ngStyle]="{'transform' : rotate_default}"><</span>
    <a href="">projects</a>
  </li>
  <li>
    <span [ngStyle]="{'transform' : rotate_default}"><</span>
    <a href="">projects</a>
  </li>
  <li>
    <span [ngStyle]="{'transform' : rotate_default}"><</span>
    <a href="">projects</a>
  </li>
</ul>
</div>