<menu (click)="overlayMenu()">
 <span class="dot"></span>
 <span class="dot"></span>
 <span class="dot"></span>
 <span class="dot"></span>
 <span class="dot"></span>
 <span class="dot"></span>
 <span class="dot"></span>
 <span class="dot"></span>
 <span class="dot"></span>
  <!-- <h3><span>&lt;</span>MENU</h3> -->
</menu>
<div id="m-m-overlay" class="main-menu">
<ul>
  <li>
    <span [ngStyle]="{'transform' : rotate_default}">01</span>
    <a href="">cases & projects</a>
  </li>
  <li>
    <span [ngStyle]="{'transform' : rotate_default}">02</span>
    <a href="">artwork & studies</a>
  </li>
  <li>
    <span [ngStyle]="{'transform' : rotate_default}">03</span>
    <a href="">person</a>
  </li>
  <li>
    <span [ngStyle]="{'transform' : rotate_default}">04</span>
    <a href="">say hello!</a>
  </li>
</ul>
</div>