
.img-wrap {
  width: 50vw;
  height: 90vh;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 1;
  opacity: 1;
  transition: all .8s ease-in-out;

  img {
    width: 40%;
    position: relative;
    top: 20%;
    left: 22%;
    z-index: -1;
    border-radius: 12px;
    

  }

  @media only screen and (max-width: 770px){
    display: none;
  }

}

.bg-wrap {
  position: fixed;
  left    : 0;
  right   : 0;
  top     : 0;
  z-index : -1;
}

.bg-left {
  width           : 100vw;
  height          : 100vh;
  background-color: var(--primarycolor);
  display         : block;
  position        : absolute;
  opacity         : 0.6;
  transition      : transform .7s ease-in-out;

  @media only screen and (max-width: 770px) {
    opacity: 0;
  }
}

.transition-bg {
  height        : 100vh;
  width         : 100vw;
  position      : fixed;
  top           : 0;
  left          : 0;
  background    : var(--accentcolor);
  z-index       : 10000;
  pointer-events: none;
}

// // follow on Mousemove
.cursor {
  position: fixed;
  z-index: 10;
  width: 50px;
  height: 50px;
  border: 2px solid var(--accentcolor);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all .4s ease-in-out;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all .4s ease-in-out;
}


.hover_state:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(2.5);
  background-color: var(--accentcolor);
  opacity: 0.8;

}

.hover_state:hover ~ .cursor2 {
  opacity: 0;
}








