// variables
$primarycolor      : #009688;
$lightprimarycolor : #B2DFDB;
$darkprimarycolor  : #00796B;
$accentcolor       : #FF5722;
$primarytext       : #212121;
$text_icons        : #FFFFFF;
$secondarytext     : #757575;
$dividertext       : #BDBDBD;




* {
  box-sizing: border-box;
}

.bg-wrap {
  position: fixed;
  left    : 0;
  right   : 0;
  top     : 0;
  z-index : -1;
}

.bg-left {
  width           : 100vw;
  height          : 100vh;
  background-color: $primarycolor;
  display         : block;
  position        : absolute;
  opacity         : 0.6;
  transform       : translate3d(-30%, 0, 0);
  transition      : transform .7s ease-in-out;



  .content {
    margin-left: 200px;
    display    : flex;

  }

  h1 {
    margin     : 0;
    font-size  : 5em;
    font-weight: 600;
    color      : #585858;

  }

  h2 {
    font-size: 2.5em;
    color    : #9E9E9E;
  }

  ul {
    display: flex;
  }

  li {
    list-style: none;

  }

  a {
    color          : #5F5F5F;
    text-decoration: none;

  }

}

.transition-bg {
  height        : 100vh;
  width         : 100vw;
  position      : fixed;
  top           : 0;
  left          : 0;
  opacity       : 0;
  background    : $accentcolor;
  z-index       : 10000;
  pointer-events: none;
}

.scroll-nav {
  position : fixed;
  left     : -100px;
  bottom   : 120px;
  display  : flex;
  transform: rotate(90deg);
}



.transform-bg {
  transform: translate3d(-100%, 0, 0);
}