<main>
  <div class="bg-left">
    <div class="content">
      <h2>portfolio 2021</h2>
      <span>&lt;</span>
      <h1>thomas <br> tritscher</h1>
      <span>&gt;</span>

      <nav class="h-nav">
        <ul>
          <li>
            <span>&macr;</span>
            <a href="">Curriculum</a>
          </li>
          <li>
            <a href="">Person</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="scroll-nav">
      <ul>
        <li>
          <a href="">
            <span>-</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>-</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>-</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>-</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sm-container">
      <ul>
        <li>
          <a href="">Twitter</a>
        </li>
        <li>
          <a href="">Github</a>
        </li>
        <li>
          <a href="">Facebook</a>
        </li>
      </ul>
    </div>
    <p>SCROLLDOWN___________</p>

  </div>

  <div class="bg-right">
    <img src="../assets/img/sound.png" alt="">
  </div>
</main>