<main>
  <div>
    <div class="outer-frame">
    </div>
  </div>

  <div (wheel)="changeBg(); firstWheelroll()" class="bg-wrap">
    <div id="bg-left" class="bg-left">
      <!-- <div class="content">
      <div class="scroll-nav">
        <ul>
          <li>
            <a href="">
              <span>-</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>-</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>-</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>-</span>
            </a>
          </li>
        </ul>
        <p>SCROLLDOWN___________</p>
      </div>
      <div class="info">
        <div class="headline">
          <h2>portfolio 2021</h2>
          <span>&lt;</span>
          <h1>thomas
            <br>
            tritscher
          </h1><span>&gt;</span>
        </div>

     
      </div> -->

      <!-- </div> -->
    </div>
  </div>
  <div class="scroll-hint">

  </div>
  <!-- <nav class="h-nav">
      <ul>
        <li>
          <span>&macr;</span>
          <a href="">Curriculum</a>
        </li>
        <li>
          <a href="">Person</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
      </ul>
    </nav> -->
  <section id="s1" class="bg  active">
    <span [style.background-color]="'red'">Hello</span>

  </section>
  <button (click)="secondWheelroll()">Click</button>
  <button (click)="thirdWheelroll()">Click</button>

  <section id="s2" class="bg"><span [style.background-color]="'green'">TWO</span>
    <div id="img-w" class="img-wrapper">
      <div id="img-w-bg" class="img-wrapper-bg">
        <picture class="section-image-one">
          <img src="./assets/img/img.jpg" alt="">
        </picture>
      </div>

     
    </div>
    <div id="a-w" class="animation-wrapper">
      <div id="c-l" class="curtain-left" style="transform: translate3d(-49%)">
      </div>
      <div id="c-r" class="curtain-right" style="transform: translate3d(49%)">
      </div>
    </div>

  </section>
  <section id="s3" class="bg"><span [style.background-color]="'blue'">THREE</span></section>
  <section id="s4" class="bg"><span [style.background-color]="'brown'">FOUR</span></section>
 
</main>