<main>
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
  <section [ngStyle]="{'opacity' : layer.img_opacity}" class="img-wrap">
    <img src="/assets/img/face1.png" alt="">
  </section>
  <div class="bg-wrap">
    <div [ngStyle]="{ 'transform': transformBg.valueBg }" class="bg-left">
    </div>
  </div>
  <app-scrollhint></app-scrollhint>
  <app-h-nav class="hover_state"></app-h-nav>
  <app-sections></app-sections>
  <div class="transition-bg" [ngStyle]="{ 'opacity': translate.transitionOpacity }"></div>
  <div #cursor class="cursor"></div>
  <div #cursor2 class="cursor2"></div>
</main>