.projects {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  justify-content: center;
 
 
  a{
    padding: 8px;
    &:hover {
        color:yellow;
    }
  }
 
  
 

  img {
    width     : 100%;
    height    : auto;
    object-fit: cover;
    border-radius: 8px;
  }
}