.h-nav {
  margin  : 2% 0 0 12.5%;
  position: fixed;
  top     : 60%;
  z-index : 8;

  ul {
    list-style: none;
    padding   : 0;
    margin    : 0
  }

  li {
    float    : left;
    padding  : 24px 0 30px;
    overflow : hidden;
    min-width: 8em;

    @media only screen and (max-width: 770px) {
      float: none;
      padding  : 20px 0 30px;
      
    }
    @media only screen and (max-width: 500px) {
      padding  : 20px 0 30px;
  
    }
    @media only screen and (min-width: 1800px) {
      min-width: 16em;
    }
  }
  @media only screen and (max-width: 770px) {
    top: 48%;
    
  }

  @media only screen and (max-width: 500px) {
    margin: 2% 0 0 8.5%;

  }
  
}

.h-nav-wrapper {
  transition: all 1s ease;
}

.navpoint-switch {
  height  : 1.4vw;
  display : block;
  overflow: hidden;

  a {
    font-size      : 1.2vw;
    font-weight    : 500;
    color          : var(--secondarytext);
    text-decoration: none;
    text-transform : uppercase;
    display        : block;
    
    @media only screen and (max-width: 770px) {
      font-size      : 4vw;
      font-weight    : 500;
      color          : #585858;
      text-decoration: none;
      text-transform : uppercase;

    }
  }
  @media only screen and (max-width: 770px) {
    height: 4vw;
  }
}

.navpoint-switch-wrapper {
  display   : block;
  transform : translateZ(0);
  transition: all .8s cubic-bezier(.87, 0, .3, 1.04);

  a {
    font-size      : 1.2vw;
    font-weight    : 500;
    color          : var(--secondarytext);
    text-decoration: none;
    text-transform : uppercase;
    display        : block;

    @media only screen and (max-width: 770px) {
      font-size      : 4vw;
      font-weight    : 500;
      color          : #585858;
      text-decoration: none;
      text-transform : uppercase;
    }
  }

  span{
    cursor: pointer;
  }
}

