<nav class="h-nav">
<ul>
  <li>
    <span>-</span>
    <div id="projects" class="navpoint-switch">
      <div [ngStyle]="{'transform' : layer.navPoint_text}"  class="navpoint-switch-wrapper">
        <a href="">
          <span>projects</span>
        </a>
        <a href="">
          <span>
           <b>view</b>
          work </span>
        </a>
        <a href="">
          <span> <b>view</b>
            journey</span>
        </a>
        <a href="">
          <span> <b>Drop</b>
            a Line!</span>
        </a>
      </div>
    </div>
  </li>
  <li>
    <div id="journey" [ngStyle]="{'transform' : layer.navPoint_text1}" class="h-nav-wrapper">
      <span>-</span>
      <div class="navpoint-switch">
        <a href="">
          <span>journey</span>
        </a>
      </div>
    </div>
  </li>
  <li>
    <div id="contact" [ngStyle]="{'transform' : layer.navPoint_text1}" class="h-nav-wrapper">
      <span>-</span>
      <div class="navpoint-switch">
        <a href="">
          <span>contact</span>
        </a>
      </div>
    </div>
  </li>
</ul>

</nav>
