<nav class="h-nav">
<ul>
  <li>
    <span>-</span>
    <div class="navpoint-switch">
      <div [ngStyle]="{'transform' : 'translate3d(0px, 0%, 0px'}"  class="navpoint-switch-wrapper">
        <a href="">
          <span>projects</span>
        </a>
        <a href="">
          <span>
           <b>view</b>
          work </span>
        </a>
        <a href="">
          <span> <b>view</b>
            journey</span>
        </a>
        <a href="">
          <span> <b>Drop</b>
            a Line!</span>
        </a>
      </div>
    </div>
  </li>
  <li>
    <div [ngStyle]="{'transform' : 'translate3d(0px, 0%, 0px'}" class="h-nav-wrapper">
      <span>-</span>
      <div class="navpoint-switch">
        <a href="">
          <span>journey</span>
        </a>
      </div>
    </div>
  </li>
  <li>
    <div [ngStyle]="{'transform' : 'translate3d(0px, 0%, 0px'}" class="h-nav-wrapper">
      <span>-</span>
      <div class="navpoint-switch">
        <a href="">
          <span>contact</span>
        </a>
      </div>
    </div>
  </li>
</ul>
</nav>
