.icon-wrapper {
  width          : 30%;
  height         : 8rem;
  margin         : 0 8px;
  background     : var(--dividertext);
  display        : flex;
  align-items    : center;
  justify-content: center;

  @media only screen and (max-width: 770px) {
    width : 32%;
    height: 5rem;
  }

  @media only screen and (max-width: 500px) {}



}

.p-wrap {
  width: 50%;

  @media only screen and (max-width: 770px) {
    width : 60%;
    
  }

  @media only screen and (max-width: 500px) {}
}

.coding-icon {
  width  : 64px;
  height : 64px;
  padding: 8px;

  @media only screen and (max-width: 770px) {
    width  : 48px;
    height : 48px;
    padding: 0px;
  }

  @media only screen and (max-width: 500px) {}


}

ul {
  padding: 0;

  li {
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;
  }

  p {
    font-size: 1.4vw;

    @media only screen and (max-width: 770px) {
      font-size: 2.4vw;
    }

    @media only screen and (max-width: 500px) {
      font-size: 3.4vw;

    }
  }

}

.project-headline-wrapper {
  @media only screen and (max-width: 500px) {
    font-size  : 14.6vw;
    line-height: 18vw;
    margin     : 0;
  }

}


.fadeIn {
  opacity: 0;
}

.show {
  -webkit-animation          : fade-in-from-bottom 1.2s cubic-bezier(.29, .71, .33, .88);
  animation                  : fade-in-from-bottom 1.2s cubic-bezier(.29, .71, .33, .88);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode        : forwards;

}

.show-right {
  -webkit-animation          : fade-in-from-right 1.2s 1.2s cubic-bezier(.29, .71, .33, .88);
  animation                  : fade-in-from-right 1.2s 1.2s cubic-bezier(.29, .71, .33, .88);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode        : forwards;

}

.show-left {
  -webkit-animation          : fade-in-from-left 1.2s 1.2s cubic-bezier(.29, .71, .33, .88);
  animation                  : fade-in-from-left 1.2s 1.2s cubic-bezier(.29, .71, .33, .88);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode        : forwards;

}

@keyframes fade-in-from-bottom {
  0% {
    opacity  : 0;
    transform: translateY(100px);
  }

  100% {
    opacity  : 1;
    transform: translateY(0px);

  }
}

@keyframes fade-in-from-right {
  0% {
    opacity  : 0;
    transform: translateX(100px);
  }

  100% {
    opacity  : 1;
    transform: translateX(0px);

  }
}

@keyframes fade-in-from-left {
  0% {
    opacity  : 0;
    transform: translateX(-100px);
  }

  100% {
    opacity  : 1;
    transform: translateX(0px);

  }
}