<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
</div>
<div class="wrapper">
  <div class="scroll-container">
    <div class="scroll-content">
      <div class="wrapper_inner">
        <hr class="spacer100">
        <section class="fadeIn project-header light show">
          <article>
            <h1 class="project-headline-wrapper">
              <span class="project-headline-content">
                <span>imprint</span>
              </span>
            </h1>
            <p class="project-description-wrapper">
              <span class="project-description-content">
                <section>
                  <h1>Impressum</h1>
                  Thomas Tritscher <br>
                  Ihmepassage 6 <br>
                  <br>
                  Vertretungsberechtigter Gesellschafter: Thomas Tritscher

                  <br>
                  Telefon: +49 173 2685950
                  <br>
                  E-Mail: thomas.tritscher@mail.de
                </section>
                <section>
                  <h1>Quellenangabe Bilder</h1>  
                  <p>
                    Main/Bild 1 : Photo by <a target="_blank" href="https://unsplash.com/photos/k09UjFzAFbE">Kari Shea</a> on <a target="_blank"
                      href="https://unsplash.com/s/photos/workspace?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    <br>
                    Main/Bild 2 : Photo by <a target="_blank"
                      href="https://unsplash.com/@xps?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">XPS</a>
                    on <a target="_blank"
                      href="https://unsplash.com/s/photos/workspace?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    <br>
                    Contact/Bild : Photo by <a target="_blank"
                      href="https://unsplash.com/@jtylernix?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tyler
                      Nix</a> on <a target="_blank"
                      href="https://unsplash.com/s/photos/workspace-coffee?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    <br>
                    Person/Bild : Photo by Photo by <a
                      href="https://unsplash.com/@xps?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">XPS</a>
                    on <a target="_blank"
                      href="https://unsplash.com/s/photos/workspace?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                  </p>

                  <h1>Quellenangabe Icons</h1>
                  <p>
                    Logo : <a href="https://logomakr.com/" target="_blank">Logomakr</a>
                    <br>
                    Angular Icon : <a href="https://iconscout.com/icons/angular" target="_blank">Icon by Icon Mafia</a>
                    <br>
                    HTML Icon : <a href="https://iconscout.com/icons/html" target="_blank">Icon by Icon Mafia</a>
                    <br>
                    CSS Icon : <a href="https://iconscout.com/icons/css" target="_blank">Icon by Icon Mafia</a>
                    <br>
                    Javscript Icon : <a href="https://iconscout.com/icons/javascript" target="_blank">Icon by Icon Mafia</a>
                    <br>
                    Node Icon : <a href="https://iconscout.com/icons/node" target="_blank">Icon by Icon Mafia</a>
                    <br>
                    Git Icon : <a href="https://iconscout.com/icons/git" target="_blank">Icon by Icon Mafia</a>
                    <br>
                    Github Icon : <a href="https://iconscout.com/icons/github" target="_blank">Icon by Icon Mafia</a>
                    <br>
                    Bootstrap Icon : <a href="https://iconscout.com/icons/bootstrap" target="_blank">Icon by Icon Mafia</a>
                    <br>
                    MD Icon : <a href="https://www.google.com/" target="_blank">Icon by unknown</a>
                    <br>
                    Firebase Icon : <a href="https://iconscout.com/icons/angular" target="_blank">Icon by Icon Mafia</a>
                    <br>
                    Sass Icon : <a href="https://iconscout.com/icons/angular" target="_blank">Icon by Icon Mafia</a>
                    <br>
                    Wordpress Icon : <a href="https://iconscout.com/icons/angular" target="_blank">Icon by Icon Mafia</a>
                  </p>
                </section>
              </span>
            </p>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>