<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
</div>
<div class="wrapper">
  <div class="scroll-container">
    <div class="scroll-content">
      <div class="wrapper_inner">
        <hr class="spacer100">
        <section class="fadeIn project-header light show">
          <article>
            <h1 class="project-headline-wrapper">
              <span class="project-headline-content">
                <span>imprint &</span>
                <span class="outlined">imprint</span>
              </span>
            </h1>
            <p class="project-description-wrapper">
              <span class="project-description-content">
                <section>
                  <h1>Impressum</h1>
                  Thomas Tritscher <br>
                  Ihmepassage 6 <br>
                  <br>
                  vertretungsberechtigte Gesellschafter: Thomas Tritscher
                
                  <br>
                  Telefon: +49 173 2685950
                  <br>
                  E-Mail: thomas.tritscher@mail.de
                </section>
              </span>
            </p>
          </article>
        </section>
      </div>
      <div class="scrollbar-track scrollbar-track-x">
        <div class="scroll-thumb scroll-thumb-x"></div>

      </div>
      <div class="scrollbar-track scrollbar-track-y">
        <div class="scroll-thumb scroll-thumb-y"></div>

      </div>
    </div>
  </div>
</div>
