<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
</div>
<div class="wrapper">
  <div class="scroll-container">
    <div class="scroll-content">
      <div class="wrapper_inner">
        <hr class="spacer100">
        <section class="fadeIn project-header light show">
          <article>
            <h1 class="project-headline-wrapper">
              <span class="project-headline-content">
                <span>imprint</span>
              </span>
            </h1>
            <p class="project-description-wrapper">
              <span class="project-description-content">
                <section>
                  <h1>Impressum</h1>
                  Thomas Tritscher <br>
                  Ihmepassage 6 <br>
                  <br>
                  vertretungsberechtigter Gesellschafter: Thomas Tritscher

                  <br>
                  Telefon: +49 173 2685950
                  <br>
                  E-Mail: thomas.tritscher@mail.de
                </section>
                <section>
                  <h3>Quelle Bilder</h3>
                  <p>
                    Quelle Bilder
                    bild1:
                  </p>
                  <h3>Quelle Icons</h3>
                  <p>
                    <a href="http//www.siconscout.comiconsangular" target="_blank">Angular-Icon</a>
                    
                    
                    <a href="" target=_blankAngular Icona by a href=httpsiconscout.comcontributorsicon-mafia target=_blankIcon Mafiaa></a>

                  </p>
                </section>
              </span>
            </p>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>