.icon-wrapper {
  width          : 50%;
  height         : auto;
  margin         : 0 8px;
  background     : var(--primarycolor);
  display        : flex;
  align-items    : center;
  justify-content: center;

}
.p-wrap{
  width: 50%;
}

.coding-icons {
  width  : 58px;
  height : 58px;
  padding: 8px;
}

ul {
  padding: 0;

  li {
    display    : flex;
    align-items: center;
    justify-content: space-evenly;
  }

  p {
    font-size: 1.4vw;
  }
}