<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
</div>
<div class="wrapper">
  <div class="scroll-container">
    <div class="scroll-content">
      <div class="wrapper_inner">
        <hr class="spacer100">
        <section class="fadeIn project-header light show">
          <article>
            <h1 class="project-headline-wrapper">
              <span class="project-headline-content">
                <span>skills</span>
                <span class="outlined"></span>
              </span>
            </h1>
            <p class="project-description-wrapper">
              <span class="project-description-content">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum similique laudantium
                  corrupti ipsa. Libero, animi reiciendis ipsum aut culpa, sunt placeat necessitatibus consectetur
                  velit eius veritatis repellat nostrum voluptates?</span>
              </span>
            </p>
          </article>
        </section>
        <section>
          <h3>Programming Skills</h3>
          <ul>
            <li>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/html.png" alt="">
              </div>
              <div class="p-wrap">
                <p>HTML stands for Hypertext Markup Language. It allows the user to create and structure sections, paragraphs, headings, links, and blockquotes for web pages and applications.</p>
              </div>
            </li>
            <li>
              <div class="p-wrap">
                <p>CSS stands for Cascading Style Sheets. CSS describes how HTML elements are to be displayed on screen, paper, or in other media. CSS saves a lot of work. It can control the layout of multiple web pages all at once.</p>
              </div>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/css.png" alt="">
              </div>
            </li>
            <li>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/javascript.png" alt="">
              </div>
              <p>JavaScript is a dynamic computer programming language. It is lightweight and most commonly used as a part of web pages, whose implementations allow client-side script to interact with the user and make dynamic pages. It is an interpreted programming language with object-oriented capabilities.</p>
            </li>
            <li>
              <p>Node. js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node. js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.</p>

              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/node_js.png" alt="">
              </div>
            </li>
            <li>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/git.png" alt="">
              </div>
              <p>Git is the most commonly used version control system. Git tracks the changes you make to files, so you have a record of what has been done, and you can revert to specific versions should you ever need to. Git also makes collaboration easier, allowing changes by multiple people to all be merged into one source.</p>
            </li>
            <li>
              <p>GitHub is a code hosting platform for version control and collaboration. It lets you and others work together on projects from anywhere. ... You'll create your own Hello World repository and learn GitHub's Pull Request workflow, a popular way to create and review code.</p>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/github.png" alt="">
              </div>
            </li>
            <li>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/bootstrap.png" alt="">
              </div>
              <p>Bootstrap is the most popular HTML, CSS and JavaScript framework for developing a responsive and mobile friendly website. It is absolutely free to download and use. It is a front-end framework used for easier and faster web development. ... It can also use JavaScript plug-ins.</p>
            </li>
            <li>
              <p>Material design is a design language developed by Google which, at its core, is an extremely sophisticated and well defined set of guidelines to help both designers and end users replicate Google's work as well as explain why things in Google look and respond the way they do.</p>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/material_design.png" alt="">
              </div>
            </li>
            <li>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/angular.png" alt="">
              </div>
              <p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. ... Components define views, which are sets of screen elements that Angular can choose among and modify according to your program logic and data.</p>
            </li>
            <li>
              <p>Firebase is a Backend-as-a-Service — BaaS — that started as a YC11 startup and grew up into a next-generation app-development platform on Google Cloud Platform. ... Firebase frees developers to focus crafting fantastic user experiences. You don't need to manage servers. You don't need to write APIs.</p>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/firebase.png" alt="">
              </div>
            </li>
            <li>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/sass.png" alt="">
              </div>
              <p>Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
            </li>
            <li>
              <p>WordPress is a free, open-source website creation platform. On a more technical level, WordPress is a content management system (CMS) written in PHP that uses a MySQL database. In non-geek speak, WordPress is the easiest and most powerful blogging and website builder in existence today.</p>
              <div class="icon-wrapper">
                <img class="coding-icons" src="/assets/icons/coding icons/wordpress.PNG" alt="">
              </div>
            </li>
          </ul>
        </section>
        <hr class="spacer100">
      </div>
      <div class="scrollbar-track scrollbar-track-x">
        <div class="scroll-thumb scroll-thumb-x"></div>

      </div>
      <div class="scrollbar-track scrollbar-track-y">
        <div class="scroll-thumb scroll-thumb-y"></div>

      </div>
    </div>
  </div>

</div>