<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
  <div class="wrapper">
    <div class="scroll-container">
      <div class="scroll-content" [ngStyle]="{'transfomr' : defaultTranslate }">
        <div class="wrapper_inner">
          <hr class="spacer100">
          <section>
              <h1 class="person-headline-wrapper">
               person
              </h1>
              <div class="column-left column50">
                <figure class="img_person">
                  <picture>
                    <img src="/assets/img/work1.png" alt="">
                  </picture>
                </figure>
              </div>
              <article class="column-right column50">
                <p class="content-text">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga eius deserunt esse quae possimus tempore quia nostrum commodi asperiores culpa, amet officiis numquam vitae voluptatibus sunt aperiam veritatis repellendus ipsa!
                </p>
              </article>
              <figure class="img_person column50 column-left">
                <picture>
                  <img src="/assets/img/img.jpg" alt="">
                </picture>
              </figure>
              <article class="column-right column50">
                <p class="content-text">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga eius deserunt esse quae possimus tempore quia nostrum commodi asperiores culpa, amet officiis numquam vitae voluptatibus sunt aperiam veritatis repellendus ipsa!
                </p>
              </article>
              <hr class="spacer100">
          </section>
          <section>
            <div class="column-left">
              <h2 class="h2-default">Let`s call it capabilites</h2>
            </div>
            <article class="column-left column50">
              <h3>Digital</h3>
              <ul class="list-default">
                <li class="list_item-default">
                  <p>Research & Architecture</p>
                </li>
                <li class="list_item-default">
                  <p>Design & Concept</p>
                </li>
                <li class="list_item-default">
                  <p>Front-End Development</p>
                </li>
              </ul>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>