<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
  <div class="wrapper">
    <div class="scroll-container">
      <div class="scroll-content">
        <div class="wrapper_inner">
          <hr class="spacer100">
          <section>
            <h1 class="person-headline-wrapper">
              person
            </h1>
            <div class="column-left column50">
              <figure @fadeIn class="img_person ">
                <picture>
                  <img src="/assets/img/workspace.jpg" alt="Workspace Image">
                </picture>
              </figure>
            </div>
            <article @fadeIn class="column-right column50">
              <p class="content-text">
                I am a <strong>Front End Developer</strong> and grew up in Hanover, Germany. I have been programming
                professionally since 2020 and have implemented various projects with many hours of work. I love to work on all type of projects from various industries and make them accessible to the world.
              </p>
            </article>
            <figure @fadeIn class="img_person column50 column-left">
              <picture>
                <img src="/assets/img/work1.png" [ngStyle]="{'filter' : 'brightness(1.4)'}"
                  alt="Personal Image working at Workspace">
              </picture>
            </figure>
            <article class="column-right column50 fadeIn show">
              <p class="content-text">
                Why the Developer Academy?<br> 
                The academy introduced me to, challenged and tested all current methods. Due to the Academy I was trained by professionals and became part of a strong community who is always interested in further development.
              </p>
            </article>
            <hr class="spacer100">
          </section>
          <section @fadeIn>
            <div class="column-left">
              <h2 class="h2-default">Let's call it an offer</h2>
            </div>
            <article class="column-left column50">
              <h3>Digital</h3>
              <ul class="list-default">
                <li class="list_item-default">
                  <p>Front-End Development</p>
                </li>
                <li class="list_item-default">
                  <p></p>
                </li>
                <li class="list_item-default">
                  <p></p>
                </li>
              </ul>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div @fadeInOut class="transition-bg"></div>
  <app-cursor></app-cursor>
</div>