<div class="main-wrapper">
  <div>
    <app-outer-frame></app-outer-frame>
  </div>
  <div class="wrapper">
    <div class="scroll-container">
      <div class="scroll-content">
        <div class="wrapper_inner">
          <hr class="spacer100">
          <section class="fadeIn project-header light show">
            <article>
              <h1 class="project-headline-wrapper">
                <span class="project-headline-content">
                  <span>person</span>
                  <span class="outlined">&person</span>
                </span>
              </h1>
              <p class="project-description-wrapper">
                <span class="project-description-content">
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum similique laudantium
                    corrupti ipsa. Libero, animi reiciendis ipsum aut culpa, sunt placeat necessitatibus consectetur
                    velit eius veritatis repellat nostrum voluptates?</span>
                </span>
              </p>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>