//color-variables
:root {
  --primarycolor     : #009688;
  --lightprimarycolor: #B2DFDB;
  --darkprimarycolor : #00796B;
  --accentcolor      : #FF5722;
  --primarytext      : #212121;
  --text_icons       : #FFFFFF;
  --secondarytext    : #757575;
  --dividertext      : #BDBDBD;
  --nativegrey       : #BEBEBE;
  --secondaccentcolor: #AF9A87;
}

#layout {
  scroll-behavior: smooth;
}

body {
  margin                : 0;
  font-family           : 'Montserrat', sans-serif;
  font-size             : 16px;
  font-weight           : 300;
  color                 : var(--secondarytext);
  margin                : 0;
  padding               : 0;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}


//main container
section {
  max-width: 60vw;
  margin   : 0 auto;
  padding  : 0 30px;

  @media only screen and (max-width: 770px) {
    max-width: 100%;
    margin   : 0 auto;
    padding  : 0 70px;
  }

  @media only screen and (max-width: 500px) {
    padding: 0px 30px;
  }

  @media only screen and (max-width: 320px) {
    padding: 0px 16px;
  }
}

.h {
  position      : fixed;
  height        : 100%;
  max-width     : 100%;
  width         : 100%;
  top           : 0;
  left          : 0;
  right         : 0;
  bottom        : 0;
  padding       : 0;
  pointer-events: none;

  @media only screen and (max-width: 770px) {
    padding: 0 30px;
  }
}

article {
  position: relative;
}

ul {
  list-style: none;
}

.scroll-container {
  position: relative;
  width   : 100vw;
  height  : 100vh;
  overflow: auto;

  @media only screen and (max-width: 500px) {
    height: auto;
  }

  &::-webkit-scrollbar{
    width: 8px;
    
  }
  &::-webkit-scrollbar-track{
    background: rgb(189, 189, 189,0.4);
    ;
    
  }
  &::-webkit-scrollbar-thumb{
    background: var(--secondarytext);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background: var(--accentcolor ) ;
  }
}

.wrapper {
  @media only screen and (max-width: 770px) {
    width : 100vw;
    height: auto;
  }

  @media only screen and (max-width: 500px) {
    width    : 100vw;
    max-width: 1200px;
    height   : auto;
    margin   : 0 auto;
  }
}

.wrapper_inner {
  display : block;
  padding : 100px 0 0;
  overflow: hidden;

  @media only screen and (max-width: 770px) {
    padding: 0;
    display: block;
  }
}

.project-header {
  margin-bottom: 100px;

  @media only screen and (max-width: 770px) {
    margin-bottom: 30px;
  }


}

.project-headline-wrapper {
  color         : var(--secondarytext);
  font-size     : 6vw;
  font-weight   : 500;
  line-height   : 7vw;
  letter-spacing: -.2vw;
  margin        : 0 0 5vw;

  @media only screen and (max-width: 770px) {
    font-size  : 10.6vw;
    line-height: 12vw;
    margin     : 0;
  }

  @media only screen and (max-width: 500px) {
    font-size  : 17.6vw;
    line-height: 18vw;
    margin     : 0;
  }
}

//page header

.project-description-wrapper {
  font-size  : 1.8vw;
  font-weight: 300;
  color      : var(--nativegrey);

  @media only screen and (max-width: 700px) {
    font-size  : 3.5vw;
    font-weight: 300;
  }

  @media only screen and (max-width: 500px) {
    font-size  : 4.8vw;
    font-weight: 300;
    line-height: 8vw;
  }
}

// space classes

hr {
  width  : 100%;
  border : 0;
  padding: 0;
  margin : 0;
}

.spacer100 {
  height: 100px;

}

.spacer300 {
  height: 300px;
}



//font-stlyes

h2 {
  color: var(--primarytext);
}

.outlined {
  color              : var(--text_icons);
  -webkit-text-stroke: 1px var(--secondarytext);
}

//transition Background
.transition-bg {
  height        : 100vh;
  width         : 100vw;
  position      : fixed;
  top           : 0;
  left          : 0;
  background    : var(--accentcolor);
  z-index       : 10000;
  opacity       : 0;
  pointer-events: none;

}