//color-variables
:root {
  --primarycolor     : #009688;
  --lightprimarycolor: #B2DFDB;
  --darkprimarycolor : #00796B;
  --accentcolor      : #FF5722;
  --primarytext      : #212121;
  --text_icons       : #FFFFFF;
  --secondarytext    : #757575;
  --dividertext      : #BDBDBD;
  --nativegrey       : #BEBEBE;
  --secondaccentcolor: #AF9A87;
}

#layout {

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin                : 0;
  font-family           : 'Montserrat', sans-serif;
  font-size             : 16px;
  font-weight           : 300;
  color                 : #585858;
  margin                : 0;
  padding               : 0;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}


//main container
section {
  max-width: 60vw;
  margin   : 0 auto;
  padding  : 0 30px;

  @media only screen and (max-width: 770px) {
    max-width: 100%;
    margin   : 0 auto;
    padding  : 0 70px;
  }

  @media only screen and (max-width: 320px) {
    padding: 0px 8px;
  }
}

.h {
  position      : fixed;
  height        : 100%;
  max-width     : 100%;
  width         : 100%;
  top           : 0;
  left          : 0;
  right         : 0;
  bottom        : 0;
  padding       : 0;
  pointer-events: none;

  @media only screen and (max-width: 770px) {
    padding: 0 30px;
  }
}

article {
  position: relative;
}

ul {
  list-style: none;
}

.scroll-container {
  position: fixed;
  width   : 100vw;
  height  : 100vh;
  overflow: auto;
}

.wrapper_inner {
  display : block;
  padding : 100px 0 0;
  overflow: hidden;
}

.project-header {
  margin-bottom: 100px;
}

.project-headline-wrapper {
  color         : #585858;
  font-size     : 6vw;
  font-weight   : 500;
  line-height   : 7vw;
  letter-spacing: -.2vw;
  margin        : 0 0 5vw;
}

//page header

.project-headline-content {}



.project-description-wrapper {
  font-size  : 1.8vw;
  font-weight: 300;
  color      : #a0a0a0;
}

.project-description-content {}


// space classes

hr {
  width  : 100%;
  border : 0;
  padding: 0;
  margin : 0;
}

.spacer100 {
  height: 100px;
}

.spacer300 {
  height: 300px;
}



//font-stlyes

.outlined {
  color              : #fff;
  -webkit-text-stroke: 1px #585858;
}

//transition Background
.transition-bg {
  height        : 100vh;
  width         : 100vw;
  position      : fixed;
  top           : 0;
  left          : 0;
  background    : var(--accentcolor);
  z-index       : 10000;
  opacity: 0;
  pointer-events: none;
  transition: 8s all;
}