//color-variables
:root {
  --primarycolor     : #009688;
  --lightprimarycolor: #B2DFDB;
  --darkprimarycolor : #00796B;
  --accentcolor      : #FF5722;
  --primarytext      : #212121;
  --text_icons       : #FFFFFF;
  --secondarytext    : #757575;
  --dividertext      : #BDBDBD;
}

body {
  margin                : 0;
  font-family           : 'Montserrat', sans-serif;
  font-size             : 16px;
  font-weight           : 300;
  color                 : #585858;
  margin                : 0;
  padding               : 0;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

section {
  max-width: 60vw;
  margin   : 0 auto;
  padding  : 0 30px;

  @media only screen and (max-width: 770px) {
    max-width: 100%;
    margin   : 0 auto;
    padding  : 0 70px;
  }

  @media only screen and (max-width: 320px) {
    padding: 0px 8px;
  }
}

hr {
  width  : 100%;
  border : 0;
  padding: 0;
  margin : 0;

  .spacer100 {
    height: 100px;
  }
  .spacer300 {
    height: 300px;
  }

}