
<!-- Section1 -->
<section [ngStyle]="{'z-index' : layer.z_active}" class="h  active">
  <div [ngStyle]="{'opacity' : layer.o_img_w}" class="img-wrapper">
    <div [ngStyle]="{'opacity' :layer. o_inactive}" class="img-wrapper-bg">
      <picture class="section-image-one">
      <img src="/assets/img/projects2.jpg" alt="Project Desk picture">
      </picture>
    </div>
    <div [ngStyle]="{'opacity' : layer.o_inactive2}" class="img-wrapper-bg">
      <picture class="section-image-two">
        <img src="./assets/img/journey2.jpg" alt="Dark hill wit lighted road picture">
      </picture>
    </div>
  </div>
  <div [ngStyle]="{'opacity' : layer.o_inactive}" class="animation-wrapper">
    <div [ngStyle]="{'transform' : layer.translateCurtainMinus }" class="curtain-left">
    </div>
    <div [ngStyle]="{'transform' : layer.translateCurtainPlus }" class="curtain-right">
    </div>
  </div>
</section>

<!-- Section2 -->

<section class="h" [ngStyle]="{'z-index' : layer.z_inactive}">
  <h1 class="s1-h1">
    <span class="s1-h1-wrapper">
      <span [ngStyle]="{'transform' : layer.firstText}" class="s1-h1-pre-wrapper-e">portfolio 2021</span>
    </span>
    <span [ngStyle]="{'margin-top.px': '0', 'margin-right.px' : '0', 'margin-bottom': '-2.3%','margin-left.px': '-5px'}"
      class="s1-h1-wrapper">
      <span [ngStyle]="{'transform' : layer.firstText}" class="s1-h1-wrapper-e">thomas</span>
    </span>
    <span class="s1-h1-wrapper">
      <span [ngStyle]="{'transform' : layer.firstText}" class="s1-h1-wrapper-e">tritscher</span>
    </span>
  </h1>
</section>


<!-- Section3 -->
<section [ngStyle]="{'z-index' : layer.z_inactive2 }" class="h">
  <div class="content-wrapper">
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.secondText}" class="content-a">
        <h2>I'm working as Front-End Developer.</h2>
        <p>I started my advanced training to become a</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.secondText}" class="content-a">
        <p>developer at the end of 2020 at the</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.secondText}" class="content-a">
        <p>Developer Academy. Since then I have been </p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.secondText}" class="content-a">
        <p>trying to constantly challenge myself and improve</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.secondText}" class="content-a">
        <p>in order to get to the next skill level.</p>
      </div>
    </div>
    <br>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.secondText}" class="content-a">
        <p>The following projects describe my beginnings as</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.secondText}" class="content-a">
        <p>well as progress and learning experiences.</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.secondText}" class="content-a">
        <p></p>
      </div>
    </div>
  </div>

</section>

<!-- Section4 -->
<section  [ngStyle]="{'z-index' : layer.z_inactive2 }" class="h">
  <div class="content-wrapper">
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.thirdText}" class="content-a">
        <h2>I code a lot!</h2>
        <p>Programming has become my new passion,</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.thirdText}" class="content-a">
        <p>I am fascinated by the development opportunities </p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.thirdText}" class="content-a">
        <p>and learning potential. In various projects </p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.thirdText}" class="content-a">
        <p>I try to master my existing skills and gain new ones.</p>
      </div>
    </div>
    <br>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.thirdText}" class="content-a">
        <p>Here is a list of the languages and tools I am already</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.thirdText}" class="content-a">
        <p>working with.</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : layer.thirdText}" class="content-a">
        <p></p>
      </div>
    </div>
  </div>


</section>

<!-- Section5 -->
<section  [ngStyle]="{'z-index' : layer.z_inactive3}" class="h textme">
  <div class="content-wrapper content-wrapper-contact">
    <div class="form-wrap">
      <div class="content-form">
        <span class="p-wrap">
          <label class="content-a" [ngStyle]="{'transform' : layer.fourthText}" for="textme">Want to work with
            <span routerLink="/person"><b>me?</b></span>
          </label>
        </span>
      </div>
    </div>
  </div>
</section>