
.bg {
  position      : fixed;
  height        : 100%;
  max-width     : 100%;
  width         : 100%;
  top           : 0;
  left          : 0;
  right         : 0;
  bottom        : 0;
  padding       : 0;
  pointer-events: none;

}


.img-wrapper {
  width     : 35vw;
  height    : 70vh;
  overflow  : hidden;
  position  : absolute;
  bottom    : 15vh;
  left      : 55vw;
  transition: all .8s cubic-bezier(.87, 0, .3, 1.04); //at screen changes 
}

.img-wrapper-bg {
  height    : 100%;
  width     : 100%;
  position  : absolute;
  display   : grid;
  background-color: var(--darkprimarycolor);
}

.section-image-one {
  width           : 60%;
  margin          : 0 auto;
  align-self      : center;
  

  img{
    width: 100%;
  }
}

.animation-wrapper {
  width     : 35vw;
  height    : 70vh;
  overflow  : hidden;
  position  : absolute;
  bottom    : 15vh;
  left      : 55vw;
  opacity   : 0;
  transition: all .8s cubic-bezier(.87, 0, .3, 1.04);
}

.curtain-left {
  width     : 100%;
  height    : 105%;
  display   : grid;
  position  : absolute;
  bottom    : 0;
  background: white;
  transition: all 1.2s cubic-bezier(.87, 0, .3, 1.04);
}

.curtain-right {
  width     : 100%;
  height    : 105%;
  display   : grid;
  position  : absolute;
  bottom    : 0;
  background: white;
  transition: all 1.2s cubic-bezier(.87, 0, .3, 1.04);


}

.button {
  position  : absolute;
  background: red;
  top       : 50%;
  bottom    : 50%;
  left      : 50%;
  width     : 200px;
  height    : 200px;
  cursor    : pointer;
  z-index   : 12;
}

.content {
  margin-left: 200px;
  display    : flex;

}

h1 {
  margin     : 0;
  font-size  : 5em;
  font-weight: 600;
  color      :var(--primarytext);

}

h2 {
  font-size: 2.5em;
  color    : var(--secondarytext);
}



