<button (click)="secondWheelEvent()">Wheel2</button>
<button (click)="thirdWheelEvent()">Wheel3</button>

<!-- Section1 -->
<section [ngStyle]="{'z-index' : z_active}" class="h  active">
  <span [style.background-color]="'red'">Hello</span>
  <div [ngStyle]="{'opacity' : o_img_w}" class="img-wrapper">
    <div [ngStyle]="{'opacity' : o_inactiv}" class="img-wrapper-bg">
      <picture class="section-image-one">
        <app-project-grid></app-project-grid>
      </picture>
    </div>
    <div [ngStyle]="{'opacity' : o_inactiv2}" class="img-wrapper-bg">
      <picture class="section-image-two">
        <img src="./assets/img/img.jpg" alt="">
      </picture>
    </div>
  </div>
  <div [ngStyle]="{'opacity' : o_inactiv}" class="animation-wrapper">
    <div [ngStyle]="{'transform' : defaultTranslateMinus}" class="curtain-left">
    </div>
    <div [ngStyle]="{'transform' : defaultTranslatePlus }" class="curtain-right">
    </div>
  </div>
</section>

<!-- Section2 -->

<section class="h" [ngStyle]="{'z-index' : z_inactiv}">
  <h1 class="s1-h1">
    <span class="s1-h1-wrapper">
      <span [ngStyle]="{'transform' : firstText}" class="s1-h1-wrapper-e s1-h1-pre-wrapper-e">portfolio 2021</span>
    </span>
    <span [ngStyle]="{'margin-top.px': '0', 'margin-right.px' : '0', 'margin-bottom': '-2.3%','margin-left.px': '-5px'}"
      class="s1-h1-wrapper">
      <span [ngStyle]="{'transform' : firstText}" class="s1-h1-wrapper-e">thomas</span>
    </span>
    <span class="s1-h1-wrapper">
      <span [ngStyle]="{'transform' : firstText}" class="s1-h1-wrapper-e">tritscher</span>
    </span>
  </h1>
</section>


<!-- Section3 -->
<section [ngStyle]="{'z-index' : z_inactiv }" class="h test">
  <span [style.background-color]="'green'">TWO</span>


  <div class="content-wrapper">
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : secondText}" class="content-a">
        <h2>I`m working as Front-End Developer</h2>
        <p>at DA, a digital</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : secondText}" class="content-a">
        <p>academie based in munich. Since</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : secondText}" class="content-a">
        <p>early 2021 beneath my main occupation as</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : secondText}" class="content-a">
        <p>Developer I am challenging myself by improving</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : secondText}" class="content-a">
        <p>my frontend progrmaming skills.</p>
      </div>
    </div>
    <br>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : secondText}" class="content-a">
        <p>Further this portfolio is as snapshot of my current</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : secondText}" class="content-a">
        <p>skill level, concerning usability, performance and</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : secondText}" class="content-a">
        <p>code quality</p>
      </div>
    </div>
  </div>

</section>

<!-- Section4 -->
<section [ngStyle]="{'z-index' : z_inactiv2 }" class="h test"><span [style.background-color]="'blue'">THREE</span>
  <div class="content-wrapper">
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : thirdText}" class="content-a">
        <h2>I code and something</h2>
        <p>since I can push a button.</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : thirdText}" class="content-a">
        <p>Progmramming is my passion, my balance.As contrast to my</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : thirdText}" class="content-a">
        <p>profession as a Developer, programming is freedom for me.</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : thirdText}" class="content-a">
        <p>No accountabilty to customer, no conventions</p>
      </div>
    </div>
    <br>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : thirdText}" class="content-a">
        <p>Since 2021 I am constanly working on my first</p>
      </div>
    </div>
    <br>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : thirdText}" class="content-a">
        <p>exhibiton with more than 30 mixed media works</p>
      </div>
    </div>
    <div class="p-wrap">
      <div [ngStyle]="{'transform' : thirdText}" class="content-a">
        <p>in different styles and formats</p>
      </div>
    </div>
  </div>


</section>

<!-- Section5 -->
<section [ngStyle]="{'z-index' : z_inactiv3}" class="h test"><span [style.background-color]="'brown'">FOUR</span>
  <div class="content-wrapper content-wrapper-contact">
    <div class="form-wrap">
      <div class="content-form">
        <span class="p-wrap">
          <label class="content-a" [ngStyle]="{'transform' : fourthText}" for="textme">Want to work with
            <span><b>me?</b></span>
          </label>
        </span>
      </div>
    </div>
  </div>
</section>